vcs-facade:
  vcs:
    services:
      - id: test-gitea
        type: GITEA
        http-url: http://${VCS_FACADE_VCS_HOST}
        ssh-url: ssh://git@${VCS_FACADE_VCS_HOST}
        username: test-admin
        password: test-admin
  opensearch:
    host: ${VCS_FACADE_OPENSEARCH_HOST}
    ssl: false
    connect-timeout: 10000
    socket-timeout: 30000
    username: admin
    password: admin
    index:
      suffix: ft
      webhook-secret: b59dd966-2445-4c84-b631-49502427477e
      scan:
        delay: 5000