version: '2.4'

services:
  vcs-facade:
    container_name: vcs-facade-ft-vcs-facade
    image: ${OCTOPUS_GITHUB_DOCKER_REGISTRY}/octopusden/vcs-facade:${VCS_FACADE_IMAGE_TAG}
    depends_on:
      gitea:
        condition: service_started
      opensearch:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./application-gitea.yml:/application-gitea.yml
      - ./../application-vcs-facade.yml:/application-ft.yml
    environment:
      - SPRING_CONFIG_ADDITIONAL_LOCATION=/
      - SPRING_PROFILES_ACTIVE=ft,gitea
      - SPRING_CLOUD_CONFIG_ENABLED=false
      - VCS_FACADE_VCS_HOST=gitea:3000
      - VCS_FACADE_OPENSEARCH_HOST=opensearch:9200

  gitea:
    image: ${DOCKER_REGISTRY}/gitea/gitea:${GITEA_IMAGE_TAG}
    container_name: vcs-facade-ft-gitea
    environment:
      - "GITEA__server__OFFLINE_MODE=false"
      - "GITEA__security__INSTALL_LOCK=true"
      - "GITEA__webhook__ALLOWED_HOST_LIST=*"
    restart: always
    volumes:
      - ./add_admin.sh:/script/add_admin.sh
    ports:
      - "3000:3000"

  opensearch:
    container_name: vcs-facade-ft-opensearch
    image: ${DOCKER_REGISTRY}/opensearchproject/opensearch:${OPENSEARCH_IMAGE_TAG}
    environment:
      - "discovery.type=single-node"
      - "plugins.security.disabled=true"
      - "OPENSEARCH_PASSWORD=admin"
    ports:
      - "9200:9200"
    healthcheck:
      test: curl -s -f opensearch:9200/_cat/health >/dev/null || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
