version: '2.4'

services:
  bitbucket:
    container_name: vcs-facade-ut-bitbucket
    image: ${DOCKER_REGISTRY}/atlassian/bitbucket:${BITBUCKET_IMAGE_TAG}
    depends_on:
      bitbucket-db:
        condition: service_started
    ports:
      - "7990:7990"
    environment:
      SETUP_DISPLAYNAME: Bitbucket
      SETUP_BASEURL: http://localhost:7990
      SETUP_LICENSE: ${BITBUCKET_LICENSE}
      SETUP_SYSADMIN_USERNAME: admin
      SETUP_SYSADMIN_PASSWORD: admin
      SETUP_SYSADMIN_DISPLAYNAME: Dev Instance Admin
      SETUP_SYSADMIN_EMAILADDRESS: admin@domain.corp
      JDBC_DRIVER: org.postgresql.Driver
      JDBC_USER: bitbucket
      JDBC_PASSWORD: bitbucket
      JDBC_URL: jdbc:postgresql://bitbucket-db:5432/bitbucket
    healthcheck:
      test: curl -s -f bitbucket:7990/status >/dev/null || exit 1
      interval: 30s
      timeout: 10s
      retries: 5

  bitbucket-db:
    container_name: vcs-facade-ut-bitbucket-db
    image: ${DOCKER_REGISTRY}/postgres:${POSTGRES_IMAGE_TAG}
    environment:
      POSTGRES_USER: bitbucket
      POSTGRES_PASSWORD: bitbucket
      POSTGRES_DB: bitbucket
